@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import "tailwindcss";

@theme {
    
    /* Screen Sizes */
    --breakpoint-xs: 30rem;
    
    /* Fonts */
    --font-family-karla: 'Karla', sans-serif;


    /* Colors */
    --color-coffee-100: #E8D6D0;
    --color-coffee-200: #C89F94;
    --color-coffee-300: #A25F4B;
    --color-coffee-400: #744838;

    /* Animation */
    --animate-slide_down: slide_down .3s ease-in-out;
    --animate-fade_in: fade_in .5s ease-in-out;
    @keyframes slide_down {
        0% {
            transform: translateY(-100%);
        }
        100% {
            transform: translateY(0);
        }
    }

    @keyframes fade_in {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }
}

.custom-top-menu-expand {
    @apply absolute top-10 z-10 w-full bg-white text-center animate-slide_down;
}

.custom-top-menu-items {
    @apply cursor-pointer py-1 hover:text-gray-900 relative after:lg:absolute after:lg:bottom-0 after:lg:left-0
     after:lg:bg-coffee-200 after:lg:h-0.5 after:lg:w-0 hover:after:lg:w-full after:lg:transition-all after:lg:duration-300;
}

.custom-top-menu-items-active {
    @apply text-gray-900; 
}

.custom-top-icons {
    @apply w-5 h-5 inline-block;
}

.custom-icon-circle {
    @apply text-xs text-center rounded-full px-1.5;
}

.custom-subheadline {
    @apply flex justify-center items-center mb-24;
}

.custom-subheadline-deco {
    @apply w-8 h-px bg-gray-400;
}

.custom-subheadline-label {
    @apply uppercase tracking-widest mx-4 font-medium text-center text-[15px];
}

.custom-button-label {
    @apply uppercase bg-white text-gray-950 tracking-wider py-4 px-6 text-xs font-semibold cursor-pointer hover:opacity-95;
}

.custom-dark-button-label {
    @apply uppercase bg-gray-950 text-white tracking-wider py-4 px-6 text-xs font-semibold cursor-pointer hover:opacity-95;
}

.hover\:photo-card-click:hover {
    @apply hover:bg-gray-700 hover:bg-gray-700/10  hover:transition-all hover:ease-in-out hover:duration-100;
}

